*{
    margin: 0 auto;
    padding: 0;
}

body {
    position: relative;
    /*Medidas utilizadas para centralizar imagem de background*/
    height: 100vh;
    width: 100vw;
    /*########################################################*/
    background: url("../imagens/fundo-itaipu.jpg") no-repeat center ; /*background com a logo da itaipu*/
    background-size: cover; /*O tamanho da imagem pode ser totalmente ou apenas parcialmente comprimido com o objetivo de preservar sua proporção.*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.container{
    margin-top: 8%;
}

#login {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
